{% load static %}

<section class="position-relative">
  <div class="container" data-sticky-container="">
    <div class="row">
      <!-- Main Post START -->
      <div class="col-lg-9">
        <!-- Entertainment START -->
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="m-0">
              <i class="bi bi-hand-index-thumb me-2"></i>Editor's Picker
            </h2>
            <p>Checkout the hand pick post by admin</p>
          </div>
          <div class="col-md-6" id="editorSponsor">
            <!-- Card item big START -->

            <!-- Card item big END -->
          </div>
          <div class="col-md-6" id="editorPickNoSponsor">
            <!-- Card item START -->

            <!-- Card item END -->
          </div>
        </div>
        <!-- Entertainment END -->

        <!-- Podcast slide START -->
        <div class="row">
          <div class="col-12 my-3">
            <h2 class="m-0">
              <i class="bi bi-mic me-2"></i>Latest Podcasts</h2>
            <p>Listen and Learn: The best educational podcasts</p>
          </div>
          <div class="col-12">
            <div class="podcast-slider  rounded-3">
              <!-- <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="24" data-arrow="true" data-dots="false" data-items-xl="3" data-items-lg="2" data-items-md="2" data-items-sm="1" data-items-xs="1"> -->
              <!-- Card item START -->
      
              <!-- Card item END -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- Podcast slide END -->
      </div>
      <!-- Main Post END -->

      <!-- Sidebar 2 START -->
      <div class="col-lg-3 mt-5 mt-lg-0">
        <div data-sticky="" data-margin-top="80" data-sticky-for="767">
          <div>
            <h4 id="recommeded-box">Recomended</h4>
            <div class="tiny-slider mt-3 mb-5">
              <div class="recommended-slider">
                <!-- Card item START -->
                <!-- Card item END -->
              </div>
            </div>
          </div>
          <!-- Newsletter START -->
          <div class="bg-light p-4 mt-4 rounded-3 text-center">
            <h4>Subscribe to our mailing list!</h4>
            <form>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email address">
              </div>
              <button type="submit" class="btn btn-primary">Subscribe</button>
              <div class="form-text">We don't spam</div>
            </form>
          </div>
          <!-- Newsletter END -->
        </div>
      </div>
      <!-- Sidebar 2 END -->
    </div>
    <!-- Row end -->
  </div>
</section>
