{% load static %}

<div class="row g-0">
  <div class="col-12 ">
    <!-- Title -->
    <div class="mb-4">
      <h2>Featured Guests</h2>
    </div>
    <!-- Slider -->
    <div class="tiny-slider arrow-hover arrow-dark arrow-blur arrow-round">
      <div class="tns-outer" id="tns1-ow">
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide
          <span class="current">20 to 25</span>
          of 7</div>
        <div id="tns1-mw" class="tns-ovh">
          <div class="tns-inner" id="tns1-iw">
            <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-autoplay="false" data-hoverpause="true" data-gutter="24" data-arrow="true" data-dots="false" data-items-xl="6" data-items-lg="4" data-items-md="3" data-items-sm="2" data-items-xs="2" id="tns1" style="transform: translate3d(-61.2903%, 0px, 0px);">

              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/01.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">Judy Nguyen</h5>
                    <small>Office Assistant</small>
                  </div>
                </div>
              </div>
              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/02.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">Bryan Knight</h5>
                    <small>Sales Manager</small>
                  </div>
                </div>
              </div>
              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/03.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">Amanda Reed</h5>
                    <small>Software Engineer</small>
                  </div>
                </div>
              </div>
              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/04.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">Larry Lawson</h5>
                    <small>Nurse Practitioner</small>
                  </div>
                </div>
              </div>
              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/05.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">Lori Stevens</h5>
                    <small>Marketing Manager</small>
                  </div>
                </div>
              </div>
              <div class="tns-item tns-slide-cloned tns-slide-active">
                <div class="card bg-transparent">
                  <img class="card-img" src="{% static 'assets/images/avatar/06.jpg' %}" alt="card image">
                  <div class="card-body ps-0">
                    <h5 class="mb-0">
                      Carolyn Ortiz
                    </h5>
                    <small>Executive Assistant</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
            <button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" data-controls="next" tabindex="-1" aria-controls="tns1">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Slider END -->
    </div>
  </div>
